@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,300&display=swap');
.App {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.container-text {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 50px auto 0px auto;
}
.container-text p {
	align-self: flex-end;
}

.container-text h1 {
	margin: 0;
	color: #fff;
	font-size: 3rem;
	font-family: 'IBM Plex Mono', monospace;
	animation: animate 3s steps(45);
	white-space: nowrap;
	overflow: hidden;
	width: 45ch;
}

p {
	color: white;
	font-style: italic;
	font-size: 0.8rem;
	margin: 0;
	margin-top: 0.7rem;
	font-family: 'IBM Plex Mono', monospace;
	animation: animateP 5.5s;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.App img {
	width: 96%;
	max-height: 800px;
}
footer {
	position: absolute;
	bottom: 1rem;
	right: 5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	height: 3.7rem;
}

footer a {
	color: #fff;
	padding: 0 1rem;
	text-decoration: none;
	font-size: 1.5rem;
	transition: 0.6s;
}

footer a:hover {
	color: #f9f239;
}

footer a svg:active {
	transform: scale(0.9);
}

@keyframes animate {
	0% {
		width: 0ch;
	}
	100% {
		width: 45ch;
	}
}

@keyframes animateP {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
